.btn {
  width: 100%;
  padding: 0.9rem;
    border-radius: 0.2rem;
    background-color: #130f4900;
    color: $primaryColor;
  font-size:1rem;
  font-weight: bolder;
    text-transform: uppercase;
    border: 2px solid #130f49;
    cursor: pointer;
  &:hover {
    color: white;
    background-color: #1a1564 ;
  }

  &--clear {
    color: red;
    border-color: red;
    &:hover {
      background-color:red;
      color: white;
    }
  }
  // &--submit{
  //   color: green;
  //   border-color: green;
  //   &:hover {
  //     background-color: green;
  //     color: white;
  //   }
  // }
  &--edit {
    display: none;
  }
}
