.input{
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  background-color: rgba(102, 102, 102, 0.096);


  &:active {
    outline: none;
    background: none;
  }
  &::placeholder {
    color: grey;
  }

}
