.right-info {
    margin: auto;
    width: 450%;

    &__dashboard-wrapper{
      margin-left: 30rem;
    }
 
  &__dashboard {
    height: 55%;
    text-align: center;
    padding: 2rem 6rem;
    @include flex(center, center);
  }
  &__number {
    font-size: 3rem;
  }
  &__description {
    margin-top: 1rem;
    font-weight: 100;
  }

  &__admin-page {
    overflow: hidden;
  }


  @import "./table";
  

  i:before {
    content: none;
  }

  @import "./action-strip";
}
