.right-info {
  width: 100%;
  margin-left: 200px;
  height: 100vh;
  &__dashboard-wrapper {
    height: 100vh;
    @include flex(center, center);
    flex-direction: column;

  }

  &__dashboard {
    width: 100%;
    @include flex(center, center);
  }


  &__info{
    margin: 2rem;
    padding: 2rem 1rem;
    font-size: 1.1rem;
    text-align: center;
  }

  &__number {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  &__description {
    font-size: 1.2rem;
    font-weight: 100;
  }

  @import "./chart";
  
  &__admin-page{
    height: 95vh

  }

  @import "./table";
  @import "./action-strip";
}