.table {
&__wrapper {
    width: 95%;
    margin: 0 auto;
    font-size: 16px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 25px 20px -25px rgb(0 0 0 / 10%);
  }
  &__header {
    font-size: 24px;
    font-weight: 300;
  }

  &__head-icons{
    background-color: rgba(51, 51, 51, 0.055);
  padding: 0.6rem;
    text-align: right;
  }

  &__head {
    border-spacing: 0;
  }

  &__head-row {
    background-color: $gray1;

  }

  &__head-row:nth-child(1) {
    background-color: $gray1;
  }

  &__head-data {
    font-size: 18px;
    font-weight: 600;
    color: #666;
    padding: 10px;
  }

  &__head-data:nth-child(1) {
    border-radius: 10px 0 0 0;

  }

  &__head-data:nth-child(1) {
    border-radius: 0 10px 0 0;
  }

  &__body-row {
&:hover {
      box-shadow: 0 10px 20px -15px rgb(0 0 0 / 4%);
      background-color: #ededed1c;
    }
  }

  &__body-data {
    padding: 10px;
    color: #666;

    
  }

  .fa-solid{
    margin: 0rem 0.7rem;
  }

}

@media (max-width: 700px) {
  .table {
    width: 90%;
  }
}